<%= turbo_frame_tag "#{dom_id @player}" do %>
  <div class="mx-auto md:w-2/3 w-full flex">
    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>

      <%= render @player %>
      
    </div>
  </div>
<% end %>

# To show new button on index after create
<%= turbo_frame_tag "new_player_form" do %>  
  <div class="flex justify-between items-center">
    <%= link_to "New player", new_player_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
<% end %>